@model IEnumerable<bo.Evenement>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Carte des parkings rennaise</h2>
        <div id="map"></div>
    </div>
</div>



    <div class="card-deck">
        @foreach (var item in Model)
        {
            
                <div class="card">
                    @if (item.Images.Count == 0)
                    {
                        <img class="card-img-top img-fluid" src="https://media3.giphy.com/media/hsBZfDG7wiWHu/200.gif">
                    }
                    else
                    {
                        <img class="img-fluid" src="@item.Images[0].Path">
                    }
                    <div class="card-header">@item.Theme</div>
                    <div class="card-body">
                        <p class="card-title">@item.Date</p>
                        <p class="card-text">@item.Address - @item.ZipCode @item.City</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", "Evenements", new { id = item.Id }, Request.Url.Scheme)" class="btn btn-primary btn-block">Detail</a>
                    </div>
                </div>
            
        }
    </div>


<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<script src="~/Scripts/map.js"></script>
@section scripts {

    <script>

        initMap("map");
        $(document).ready(function () {
            //load parking in map
            $.get("/ApiParking/List", function (data) {
                data = JSON.parse(data);

                for (var i = 0; i < data.length; i++) {
                    if (data[i].Name != null)
                        addMarker(data[i].Geometry.coordinates, "Nom : " + data[i].Name + "<br>Place libre : " + data[i].FreePlace + "<br>Place max : " + data[i].MaxPlace, "marker")
                }
            });
        });

    </script>
    
}